/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== colors ==========*/
  --first-color: hsl(178, 100%, 50%);
  --first-color-alt: hsl(215, 32%, 27%);
  --text-color: hsl(215, 51%, 70%);
  --title-color: hsl(0, 0%, 100%);
  --body-color: hsl(217, 54%, 11%);
  --card-color: hsl(216, 50%, 16%);
  /*========== font and typography ==========*/
  --body-font: 'Outfit', sans-serif;
  --title-size: 1.5rem;
  --normal-font-size: 1.125rem; 
  /*========== font weight ==========*/
   --font-light: 300;
   --font-regular: 400;
   --font-semi-bold: 600;
}

/*=============== BASE ===============*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=============== NFT ===============*/
.nft {
  background-color: var(--card-color);
  color: var(--text-color);
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
  padding: 1rem;
  width: 320px;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.nft,
.nft__img {
  border-radius: 1em;
}

.nft__img {
  background-image: url('images/image-equilibrium.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.nft__img-overlay {
  width: 100%;
  height: 100%;
  background-color: hsla(178, 100%, 50%, .5);
  background-image: url('images/icon-view.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.nft__title {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-size: var(--title-size);
  margin: 1.5rem 0;
}

.nft__description {
  line-height: 1.5em; /* 1.5 * font size = line-height*/
  margin-bottom: 1.5rem;
}

.nft__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.nft__price {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.nft__price,
.nft__time {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nft__line {
  border: 1px solid var(--first-color-alt);
  margin-bottom: 1.5rem;
}

.nft__creator {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nft__creator-img {
  width: 40px;
  border: solid 1px var(--title-color);
  border-radius: 50%;
}

.nft__creator-name span {
  color: var(--title-color);
}

.nft__title,
.nft__creator-name span {
  cursor: pointer;
}

/*=============== ACTIVE STATE ===============*/
.nft__title:hover,
.nft__creator-name span:hover {
  color: var(--first-color);
}

.nft__img-overlay:hover {
  opacity: 1;
  transition: opacity .4s;
}

